{% extends 'base.html' %}
{% block content%}

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre Nosotros</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bienvenido al Ecommerce</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis porttitor erat. Sed ex justo, luctus at fermentum at, ornare elementum dolor. Sed ut ultrices velit. Fusce eleifend imperdiet dolor, sit amet molestie lorem blandit ut. Morbi efficitur ultrices dolor, vel hendrerit augue efficitur eu. Phasellus blandit convallis dui sit amet ultrices. Donec interdum sit amet risus ultrices ultricies. Nulla lacinia quam tortor, quis lobortis felis mollis ac. Nulla facilisi.
<br/><br/>
Pellentesque et mauris et odio suscipit pellentesque. Aliquam a porttitor arcu. Nunc sed sapien condimentum, accumsan tortor in, pulvinar massa. Aenean et leo ut ipsum euismod facilisis. Maecenas eu risus sit amet neque lobortis mattis. Etiam rhoncus varius tincidunt. Sed sed sapien sed justo mollis consectetur et sed lorem. Fusce velit quam, vestibulum non vehicula vitae, dignissim ut leo. Maecenas metus erat, luctus vel enim a, fermentum fringilla massa. Quisque placerat mauris suscipit, iaculis lectus ac, volutpat nisl. Nulla eu nibh pulvinar, condimentum urna ut, molestie orci. Sed ac arcu placerat turpis consequat laoreet. Nam sed pretium orci, sit amet luctus elit. Proin ex purus, finibus vitae commodo eu, tincidunt nec augue. Morbi viverra porttitor erat eu rutrum. Nam efficitur consectetur dignissim.
</p>
<br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}